/node_modules/

/cypress/screenshots/
/cypress/videos/
/node_modules/
/cypress.env.json
.DS_Store
Thumbs.db


logs
*.log
npm-debug.log*


pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
.nyc_output

/.idea
.project
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local